---
layout: page-layout.njk
title: 'About the 2018 Event'
meta_title: 'Vermont Code Camp 9 :: 2018'
meta_description: The 10th annual Vermont Code Camp in Burlington, VT – bringing together technology community members, students and professionals from around Vermont and beyond.
---


<article id="attend" class="anchor">
    <header>
        <img src="/media/event-directional-sign-480x320.jpg" width="480" height="320" alt="Building with sign reading Vermont Code Camp in the foreground" />
    </header>
    <article>

        <div class="meta">
            <abbr title="Saturday, September 15, 2018, 8:00am - 5:30pm" class="date-time">
                <span class="day">Saturday</span> 
                <span class="month">Sept</span> 
                <span class="date">15</span> 
                <span class="time">8:00AM-5:30PM</span>
            </abbr> 
            <abbr title="Center for Communication and Creative Media, Champlain College, 375 Maple Street, Burlington, VT" class="location">
                <span class="building">Center for Communication and Creative Media</span> 
                <span class="place">Champlain College</span>
                <span class="address">375 Maple Street</span> 
                <span class="city">Burlington, VT</span>
            </abbr>
        </div>


        <h1>{{ title }}</h1>

        <p class="description">
            <strong class="summary">Vermont Code Camp</strong> is a full day event that brings together technology community members, students and professionals from around Vermont and beyond. 
            The entire day is free including morning coffee &amp; pastries, lunch and afternoon snacks for all attendees.  
            A wide variety of software technologies are represented. Session topics range from software development (e.g. languages, tools, practices, databases, web development, etc.) to the business of software and technology (e.g. entrepreneurship, consulting, team dynamics, etc.). 
        </p>
        
        <p><strong><a href="https://www.meetup.com/VTCode/events/250412515/">Event Page on Meetup</a></strong></p>
        <p><small><a href="/conduct">Code of Conduct</a> | <a href="/diversity">Diversity Statement</a></small></p>
    </article>

    <article class="sponsors">
        <h1>Premier Sponsors</h1>
        <ul class="sponsors premier-level">
            <li><a href="http://www.champlain.edu/"><span class="logo champlain-college">Champlain College</span></a></li>
            <li><a href="https://www.jetbrains.com/"><span class="logo jetbrains">Jetbrains</span></a></li>
            <li><a href="https://www.uvmhealth.org/" class="logo the-university-of-vermont-medical-center">The University of Vermont Medical Center</a></li>
            <li><a href="https://www.burlingtontelecom.com/"><span class="logo burlington-telecom">Burlington Telecom</span></a></li>
            <li><a href="http://mywebgrocer.com/" class="logo mywebgrocer">MyWebGrocer</a></li>
        </ul>
        <h1>Platinum Sponsor</h1>
        <ul class="sponsors">
            <li><a href="http://www.aerieconsulting.com/"><span class="logo aerie-consulting">Aerie Consulting</span></a></li>
            <li><a href="https://www.galenhealthcare.com/"><span class="logo galen-healthcare-solutions">Aerie Consulting</span></a></li>
        </ul>
        <h1>Gold Sponsors</h1>
        <ul class="sponsors">
            <li><a href="https://www.teksystems.com/en" class="logo tek-systems">TEKSystems</a></li>
            <li><a href="https://www.competitive.com/" class="logo competitive-computing">Competitive Computing</a></li>
            <li><a href="https://www.allscripts.com/allscripts-com/careers" class="logo allscripts">Allscripts</a></li>
            <li><a href="https://www.dealer.com/company/careers/" class="logo ddc">Dealer.com</a></li>
            <li><a href="https://www.burlingtoncodeacademy.com/" class="logo burlington-code-academy">Burlington Code Academy</a></li>
            <li><a href="https://www.twilio.com/company/brand" class="logo twilio">Twilio</a></li>
        </ul>
        <h1>Silver Sponsors</h1>
        <ul class="sponsors">
            <li><a href="https://symbioticlabs.io/" class="logo symbiotic-labs">Symbiotic Labs</a></li>
            <li><a href="http://www.usabilitykitty.com/" class="logo usability-kitty">Mandy Swithenbank:</a></li>
            <li><a href="https://owlfeatherautomation.com/" class="logo owlfeather">Shawn Vernier</a></li>
            <li><a href="https://www.dealerpolicy.com/" class="logo dealerpolicy">Dealer Policy</a></li>
            <li><a href="https://www.vermontsystems.com/" class="logo vermontsystems">Vermont Systems</a></li>
        </ul>
        <h1>Bronze Sponsors</h1>
        <ul class="sponsors">
            <li><a href="https://www.mabl.com/" class="logo mabl">Mabl</a></li>
        </ul>
        <h1>Swag, Giveaways &amp; More</h1>
        <ul class="sponsors">
            <li><a href="https://www.manning.com/" class="logo manning">Manning Publications</a></li>
            <li><a href="http://www.codemag.com/" class="logo code-magazine">CODE Magazine</a></li>
            <li><a href="https://www.pluralsight.com/" class="logo pluralsight">Pluralsight</a></li>
            <li><a href="https://www.tylertech.com/" class="logo tyler-technologies">Tyler Tech</a></li>
        </ul>
        <h1>Community Partners</h1>
        <ul class="sponsors">
            <li><a href="http://www.btvignite.com/"><span class="logo btv-ignite">BTV Ignite</span></a></li>
            <li><a href="https://sessionize.com/"><span class="logo sessionize">Sessionize.com</span></a></li>
        </ul>
    </article>

</article>
