---
layout: page-layout.njk
title: Sessions
description: Read more about the sessions of Vermont Code Camp
---

<h1>{{ config.year }} {{ title }}</h1>
<p>{{ description }}</p>

{% for roomId, roomSessions in sessionize.sessionsByRoom %}
<article class="space">

    {% set room = sessionize.rooms[roomId] %}

    <h2 id="{{ roomId }}"> {{ room.name }} </h2>

    {% for timeCode, session in roomSessions %}
    <article class="session">
        <h3 id="{{session.id}}">
            {{ session.title }} 
            <small class="parenthesis">
                {% for speakerId in session.speakers %}
                    {% set speaker = speakers[speakerId] %}
                    <a href="/speakers#{{speakerId}}">
                        {{ speaker.fullName }}
                    </a>
                    {% if not loop.last %}/{% endif %}
                {% endfor %}
            </small>
            <small>
                <a href="/schedule#{{ timeCode }}">
                    {{ session.startsAt | to12hourTime }}-{{ session.endsAt | to12hourTime }}
                </a>
            </small>
        </h3>
        <p class="level">Level {{ session.level }}</p>

        {{ session.description | markdown | safe }}

        {% if session.resources %}
            <p>Resources:</p>
            <ul>
            {% for resource in session.resources %}
                <li><a href="{{ resource.href }}">{{ resource.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </article>
    {% endfor %}
</article>
{% endfor %}

