---
layout: page-layout.njk
title: Speakers
description: Read more about the Vermont Code Camp speakers.
---

<h1>{{ config.year }} {{ title }}</h1>
<p>{{ description }}</p>

{% for speakerId, speaker in speakers %}
    <article class="speaker">
        <h2 id="{{ speakerId }}">{{ speaker.fullName }}
        {% if speaker.twitter %} 
            <small class="twitter">
                {# @TODO make this work with sessionize data, including linkedin, and website links #}
                <a href="{{ speaker.twitter.href }}">
                    {% include "fa/twitter.svg" %}
                    @{{ speaker.twitter.title }}
                </a>
            </small>
        {% endif %}
        </h2>

        {{ speaker.bio | markdown | safe }}

        {% if speaker.sessions %}
            <p>Sessions:</p>
            <ul> 
            {% for sessionId in speaker.sessions %}
                {% set session = sessions[sessionId] %}
                <li><a href="/sessions#{{ sessionId }}">{{ session.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </article>
{% endfor %}

