---
layout: page-layout.njk
title: Speakers
description: Read more about the Vermont Code Camp speakers.
---

<h1>{{ config.year }} {{ title }}</h1>
<p>{{ description }}</p>

{% for speakerId, speaker in sessionize.speakers %}
    <article class="speaker">
        <h2 id="{{ speakerId }}">{{ speaker.fullName }}
        {% for link in speaker.links %} 
            {% if link.linkType == 'Twitter' %}
            <small class="speaker-link twitter">
                <a href="{{ link.url }}">
                    {% include 'fa/twitter.svg' %}
                    {{ link.name }}
                </a>
            </small>
            {% endif %}
        {% endfor %}
        </h2>

        {{ speaker.bio | markdown | safe }}

        {% if speaker.sessions %}
            <p>Sessions:</p>
            <ul> 
            {% for sessionId in speaker.sessions %}
                {% set session = sessions[sessionId] %}
                <li><a href="/sessions#{{ sessionId }}">{{ session.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </article>
{% endfor %}

